@font-face {
  font-family: 'Truetypewriter';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/Truetypewriter\ PolyglOTT.woff2') format('woff2'),
    url('/src/assets/fonts/Truetypewriter\ PolyglOTT.woff') format('woff');
}
